{% extends 'layouts/_auth.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock %}

{% block content %}
  <div class="text-center mt-4">
    <h1 class="h2">Welcome to Stochastic Finances</h1>
    <p class="lead">
      Sign in to your account to continue.
    </p>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="m-sm-4">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
