{% extends 'layouts/_auth.html' %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock %}

{% block content %}
  <div class="text-center mt-4">
    <h1 class="h2">Set password</h1>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="m-sm-4">
        <form method="POST" action="" class="password_set">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-lg btn-primary">
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}