{% extends 'layouts/_auth.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}
  <div class="text-center mt-4">
    <h1 class="h2">Reset password</h1>
    <p class="lead">
      Enter your email to reset your password.
    </p>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="m-sm-4">
        <form method="post">
          <p>We have sent you an e-mail. Please contact us if you do not receive it in a few minutes.</p>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}