{% extends 'layouts/_auth.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="text-center mt-4">
  <h1 class="h2">Change Password</h1>
  <p class="lead">
    To change your password, enter your current password and a new one.
  </p>
</div>

<div class="card">
  <div class="card-body">
    <div class="m-sm-4">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-lg btn-primary">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
