{% extends 'layouts/_base.html' %}
{% load static %}
{% block title %}Calculations{% endblock %}
{% block content %}
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-xxl-4 d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h3 class="mb-2">{{ prob_of_positive | safe }}%</h3>
                            <p class="mb-2">Probability of having enough for your life</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl-4 d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h3 class="mb-2">{{ avg_savings_at_retirement | safe }}</h3>
                            <p class="mb-2">Average savings at retirement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl-4 d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h3 class="mb-2">{{ avg_retirement_at_retirement | safe }}</h3>
                            <p class="mb-2">Average retirement at retirement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">Average Savings and Retirement</h5>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart chart-lg">
                        <canvas id="chartjs-dashboard-bar"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Calculations by Age</h5>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th rowspan="1" style="width:10%; border-right: 1px solid black;"></th>
                        <th colspan="3"
                            style="width:25%;
                                   text-align: center;
                                   border-right: 1px solid black">Total</th>
                        <th colspan="3"
                            style="width:25%;
                                   text-align: center;
                                   border-right: 1px solid black">Savings</th>
                        <th colspan="3" style="width:25%; text-align: center;">Retirement</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; border-right: 1px solid black;">Age</th>
                        <!-- Sub-headers for Total -->
                        <th style="text-align: center;">Avg</th>
                        <th style="text-align: center;">15th Percentile</th>
                        <th style="text-align: center; border-right: 1px solid black;">85th Percentile</th>
                        <!-- Sub-headers for Savings -->
                        <th style="text-align: center;">Avg</th>
                        <th style="text-align: center;">15th Percentile</th>
                        <th style="text-align: center; border-right: 1px solid black;">85th Percentile</th>
                        <!-- Sub-headers for Retirement -->
                        <th style="text-align: center;">Avg</th>
                        <th style="text-align: center;">15th Percentile</th>
                        <th style="text-align: center;">85th Percentile</th>
                    </tr>
                </thead>
                {% load humanize %}
                <tbody>
                    {% for age in table_data %}
                        <tr>
                            <td style="text-align: center; border-right: 1px solid black;">{{ age.age_yrs }}</td>
                            <td style="text-align: center;">${{ age.avg_tot|floatformat:0|intcomma }}</td>
                            <td style="text-align: center;">${{ age.pct_15_tot|floatformat:0|intcomma }}</td>
                            <td style="text-align: center; border-right: 1px solid black;">${{ age.pct_85_tot|floatformat:0|intcomma }}</td>
                            <td style="text-align: center;">${{ age.avg_savings|floatformat:0|intcomma }}</td>
                            <td style="text-align: center;">${{ age.pct_15_savings|floatformat:0|intcomma }}</td>
                            <td style="text-align: center; border-right: 1px solid black;">${{ age.pct_85_savings|floatformat:0|intcomma }}</td>
                            <td style="text-align: center;">${{ age.avg_retirement|floatformat:0|intcomma }}</td>
                            <td style="text-align: center;">${{ age.pct_15_retirement|floatformat:0|intcomma }}</td>
                            <td style="text-align: center;">${{ age.pct_85_retirement|floatformat:0|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
  document.addEventListener("DOMContentLoaded", function() {
    // Bar chart
    new Chart(document.getElementById("chartjs-dashboard-bar"), {
      type: "bar",
      data: {
        labels: {{ age_labels | safe }},
        datasets: [{
          label: "Savings",
          backgroundColor: window.theme["primary-light"],
          borderColor: window.theme["primary-light"],
          hoverBackgroundColor: window.theme["primary-light"],
          hoverBorderColor: window.theme["primary-light"],
          data: {{ savings_by_age | safe }},
          barPercentage: .325,
          categoryPercentage: .5
        }, {
          label: "Traditional 401k",
          backgroundColor: "#9b59b6",
          borderColor: "#9b59b6",
          hoverBackgroundColor: "#9b59b6",
          hoverBorderColor: "#9b59b6",
          data: {{ traditional_401k_by_age | safe }},
          barPercentage: .325,
          categoryPercentage: .5
        }, {
          label: "Traditional IRA",
          backgroundColor: "#95a5a6",
          borderColor: "#95a5a6",
          hoverBackgroundColor: "#95a5a6",
          hoverBorderColor: "#95a5a6",
          data: {{ traditional_ira_by_age | safe }},
          barPercentage: .325,
          categoryPercentage: .5
        }, {
          label: "Roth 401k",
          backgroundColor: window.theme.success,
          borderColor: window.theme.success,
          hoverBackgroundColor: window.theme.success,
          hoverBorderColor: window.theme.success,
          data: {{ roth_401k_by_age | safe }},
          barPercentage: .325,
          categoryPercentage: .5
        }, {
          label: "Roth IRA",
          backgroundColor: window.theme.warning,
          borderColor: window.theme.warning,
          hoverBackgroundColor: window.theme.warning,
          hoverBorderColor: window.theme.warning,
          data: {{ roth_ira_by_age | safe }},
          barPercentage: .325,
          categoryPercentage: .5
        }]
      },
      options: {
        maintainAspectRatio: false,
        cornerRadius: 15,
        legend: {
          display: true
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: true
            },
            ticks: {
              callback: function(value) {
                // Format the y-axis values as dollars
                return '$' + value.toLocaleString();
              },
              stepsize: 20
            },
            stacked: true,
          }],
          xAxes: [{
            gridLines: {
              color: "transparent"
            },
            stacked: true,
          }]
        }
      }
    });
  });
    </script>
{% endblock javascript %}
