{% extends 'layouts/_base.html' %}
{% load static %}
{% block title %}Calculations{% endblock %}
{% block content %}
    <div class="container">
        <br />
        <h3>Results</h3>
        <br />
        <div class = "container">
          {{ table|safe }}
        </div>
      <div class = "container">
          <h5 class="card-title mb-0">Savings and Retirement</h5>
      </div>
      <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-lg">
              <canvas id="chartjs-dashboard-bar"></canvas>
          </div>
      </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
  document.addEventListener("DOMContentLoaded", function() {
    // Bar chart
    new Chart(document.getElementById("chartjs-dashboard-bar"), {
      type: "bar",
      data: {
        labels: {{ age_labels | safe }},
        datasets: [{
          label: "Retirement",
          backgroundColor: window.theme.primary,
          borderColor: window.theme.primary,
          hoverBackgroundColor: window.theme.primary,
          hoverBorderColor: window.theme.primary,
          data: {{ retirment_by_age | safe }},
          barPercentage: .325,
          categoryPercentage: .5
        }, {
          label: "Savings",
          backgroundColor: window.theme["primary-light"],
          borderColor: window.theme["primary-light"],
          hoverBackgroundColor: window.theme["primary-light"],
          hoverBorderColor: window.theme["primary-light"],
          data: {{ savings_by_age | safe }},
          barPercentage: .325,
          categoryPercentage: .5
        }]
      },
      options: {
        maintainAspectRatio: false,
        cornerRadius: 15,
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: false
            },
            ticks: {
              stepSize: 20
            },
            stacked: true,
          }],
          xAxes: [{
            gridLines: {
              color: "transparent"
            },
            stacked: true,
          }]
        }
      }
    });
  });
    </script>
{% endblock javascript %}
