{% extends 'layouts/_base.html' %}
{% load static %}

{% block title %}
  Rates Inputs
{% endblock %}

{% block content %}
<div class="container">
    <br />
    <h3>Rates Inputs</h3>
    <div>
        <a href="{% url 'rates_inputs_create'%}" class="btn btn-primary">Create New</a>
    </div>
<br />

<div class="row">
    {% for item in rates_inputs %}
        <div class="col-md-4">
            <div class="card shadow {% if item.is_active %}border-primary{% else %}border-dark{% endif %} mb-3 text-black" style="border-width: {% if item.is_active %}4px{% else %}3px{% endif %};">
                <div class="card-header">Savings Inputs</div>
                <div class="card-body">
                    <p class="card-text">Use this for calculations: {{ item.is_active|yesno|title }}</p>
                    <p class="card-text">Savings interest rate (%): {{ item.base_rf_interest_per_yr|floatformat:"2g" }}%</p>
                    <p class="card-text">Retirementment interest rate (%): {{ item.base_mkt_interest_per_yr|floatformat:"2g" }}%</p>
                    <p class="card-text">Inflation rate (%): {{ item.base_inflation_per_yr|floatformat:"2" }}%</p>
                    <a href="{% url 'rates_inputs_edit' item.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'rates_inputs_delete' item.id %}" class="btn btn-secondary">Delete</a>
                  </div>
                </div>
              </div>
            {% endfor %}
</div>
</div>
{% endblock %}
