<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | Stochastic Finances </title>
</head>

<body>
    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
        <a href="/" class ="text-xl font-semibold">Stochastic Finances Title</a>

        <div class ="space-x-6">
            <a href="{% url 'financial_situation:test_new_form' %}" class = "test-lg font-semibold hove:test-gray-500">Test Item</a>
            <a href="{% url 'financial_situation:add_financial_situation' %}" class = "test-lg font-semibold hove:test-gray-500">Financial Situation</a>
            <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Sign up</a>
            <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log in</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard:index' %}" class = "test-lg font-semibold hove:test-gray-500">Dashboard</a>
            {% endif %}

        </div>
    </nav>
    <div class="px-6 py-6">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>