<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | Stochastic Finances </title>
</head>

<body>
    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
        <a href="/" class ="text-xl font-semibold">Stochastic Finances Title</a>

        <div class ="space-x-6">
            <a href="{% url 'financial_situation:test_new_form' %}" class = "test-lg font-semibold hove:test-gray-500">Test Item</a>
            <a href="{% url 'financial_situation:add_financial_situation' %}" class = "test-lg font-semibold hove:test-gray-500">Financial Situation</a>
            <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Sign up</a>
            <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log in</a>

        </div>
    </nav>
    <!-- New Tab Section -->
    <div class="px-6 py-3 flex space-x-6 border-b border-gray-200">
        <a href="{% url 'inputs:general_inputs_dashboard' %}" class="text-lg font-semibold hover:text-gray-500">General</a>
        <a href="{% url 'inputs:savings_inputs_dashboard' %}" class="text-lg font-semibold hover:text-gray-500">Savings</a>
        <a href="{% url 'inputs:payments_inputs_dashboard' %}" class="text-lg font-semibold hover:text-gray-500">Payments</a>
        <a href="{% url 'financial_situation:retirement_inputs_view' %}" class="text-lg font-semibold hover:text-gray-500">Retirement</a>
        <a href="{% url 'financial_situation:rates_inputs_view' %}" class="text-lg font-semibold hover:text-gray-500">Rates</a>
        <a href="{% url 'financial_situation:calculation' %}" class="text-lg font-semibold hover:text-gray-500">Calculation</a>
    </div>
    <div class="px-6 py-6">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>