{% extends 'core/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block stuff %}
<div class="container">
  <br />
  <h3>{{ title }}</h3>

  <form method="post" action="." id="createInputs" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow border-dark px-3 py-3 mb-3 text-black" style="border-width: 3px;">
                <div class="card-body">
                    {% for i in form %}
                    <div class="mb-3">
                        <label class="form-label">{{i.label_tag}}</label>
                        {% if i.errors %}
                        <input type="text" class="form-control is-invalid" name="{{ i.name }}" value="{{ i.value|default_if_none:'' }}">
                        <div class="invalid-feedback">
                            {{ i.errors|striptags }}
                        </div>
                        {% else %}
                        {{ i }}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Done</button>
    <!--Add cancel button-->
</form>



</div>
{% endblock %}