{% extends 'core/base.html' %}

{% block title %}Retirement Inputs{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-6 text-4xl text-center">Retirement Inputs</h2>
        <div>
            <a href="{% url 'inputs:retirement_inputs_create'%}" class="inline-block mt-6 mb-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Create New</a>
        </div>

        <div class="grid grid-cols-3 gap-3">
            {% for item in retirement_inputs %}
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="space-y-4">Active</h2>
                    <h2 class="w-full py-4 px-6 rounded-xl border mb-4">{{ item.is_active }}</h2>
                    <h2 class="space-y-4">Current retirement amount</h2>
                    <h2 class="w-full py-4 px-6 rounded-xl border mb-4">{{ item.base_retirement }}</h2>
                    <h2 class="space-y-4">Monthly retirement contributions</h2>
                    <h2 class="w-full py-4 px-6 rounded-xl border mb-4">{{item.base_retirement_per_mo}}</h2>
                    <h2 class="space-y-4">Yearly retirement contribution increase ($)</h2>
                    <h2 class="w-full py-4 px-6 rounded-xl border mb-4">{{item.base_retirement_per_yr_increase}}</h2>
                    <h2 class="space-y-4">Extra expenses in retirement (vacations, etc.)</h2>
                    <h2 class="w-full py-4 px-6 rounded-xl border mb-4">{{item.retirement_extra_expenses}}</h2>
                    <a href="{% url 'inputs:retirement_inputs_edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                    <a href="{% url 'inputs:retirement_inputs_delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Delete</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}